@font-face {
    font-family: 'PalatinoLinotype';
    src: url('../fonts/PalatinoLinotype.ttf');
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro.ttf');
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/MyriadProBold.otf');
}


.navbar-link {
    font-family: MyriadPro;
    font-size: 100%;
    margin-right: 2%;
    text-decoration: none;
    color: #ffd700;
    width: 15%;
    white-space: nowrap;
}

.navbar-link a {
    text-decoration: none;
    color: #ffd700;
}

.navbar-link img {
    height: 32px;
    margin-right: 5%;
}

.navbar-logo {
    margin: 10px;
    width: 35%;
}

.navbar-logo img {
    height: 100px;
}

.navbar-logo-text {
    font-family: PalatinoLinotype;
    font-size: 300%;
    letter-spacing: -2.5px;
    margin-left: 20px;
}

.navbar {
    background: #311716;
    color: #ffd700;
}

a:hover {
    text-decoration: none;
}

.info-text {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: MyriadProBold;
    border-top: 2px solid #b0b0b0;
    background-color: #eebb9c;
    color: #462927;
    text-align: center;
    font-size: 150%;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.25;
}

.part {
    border-top: 5px solid #b0b0b0;
    border-bottom: 5px solid #b0b0b0;
    text-align: center;
    background: #311716;
    color: #ffd700;
    font-size: 300%;
}

.menu {
    background-color: #eebb9c;
    padding: 2%;
    height:1150px;
}

.container-inst {
    background-color: #eebb9c;
    padding: 15px;
}


@media (max-width: 1000px) {
    .part {
        font-size: 150%;
    }

    #calendar {
        display: none;
    }

    .navbar-logo{
        font-size:0pt;
    }
    
    .navbar-link a{
        font-size: 0pt;
    }

    .navbar-logo {
        margin: 10px;
    }

    .info-text{
        font-size:12pt;
    }

    .menu{
        height:400px;
    }

}
